body {
  margin: 0;
  background: black;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Courier New', monospace;
  color: #c77dff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.card {
  position: relative;
  z-index: 2;
  background: rgba(20, 0, 40, 0.85);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px #a855f7;
  text-align: center;
  max-width: 700px;
  margin-top: 100px;
  transition: 0.6s;
  animation: latido 3s infinite;
}

.card.colorCambio {
  background: linear-gradient(45deg,#ffadad,#ffd6a5,#caffbf,#bdb2ff,#ffc6ff);
  box-shadow: 0 0 50px pink;
}
/* ===== CONTADOR ===== */
.contador-box {
  margin-top: 40px;
  text-align: center;
  font-size: 1.3rem;
  color: #d8b4fe;
}

.contador {
  font-size: 1.8rem;
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* ===== EFECTO COLORES PASTEL AL ACTIVAR ===== */
.pastel-animado {
  animation: pastelFlash 2s infinite alternate;
}

@keyframes pastelFlash {
  0% { color: #f9a8d4; }
  20% { color: #c4b5fd; }
  40% { color: #a5f3fc; }
  60% { color: #fcd34d; }
  80% { color: #fbcfe8; }
  100% { color: #ddd6fe; }
}

/* ===== BOTÓN ANIMADO ===== */
#btnDestino {
  padding: 12px 25px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(45deg, #c084fc, #f9a8d4);
  transition: 0.3s;
}

#btnDestino.activo {
  animation: botonColor 3s infinite linear;
}

@keyframes botonColor {
  0% { background: #f9a8d4; }
  25% { background: #c4b5fd; }
  50% { background: #a5f3fc; }
  75% { background: #fcd34d; }
  100% { background: #f9a8d4; }
}


#texto {
  font-size: 20px;
  line-height: 1.8;
  min-height: 250px;
  white-space: pre-wrap;
}

.cursor {
  display: inline-block;
  font-weight: bold;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes latido {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}

button {
  margin-top: 25px;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(45deg, #a855f7, #d946ef);
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 15px #c77dff;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}

.hiddenImage {
  display: none;
  margin-top: 30px;
  text-align: center;
}

.hiddenImage img {
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 20px #d946ef;
}

#contador {
  margin-top: 20px;
  font-size: 16px;
  color: #e0aaff;
}

